#navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  /* position: fixed;
  margin-top: 0px; */
  position: sticky;
  top: 0;
  background-color: #ddd;
  z-index: 100; /* Adjust the z-index value as needed */
}

#navbarNav {
  /* border: 1px solid red; */
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  width: 10px;
  /* margin-left: 100px; */
  gap: 500px;
}
#ullist {
  /* border: 1px solid red; */
  margin-left: 5%;
}

#ullist1 {
  /* border: 1px solid red; */
  margin-left: 90px;
  gap: 50px;
}
#ullist3 {
  /* border: 1px solid red; */
  margin-left: 22%;
  /* margin-top: 20px; */
  height: 70px;
  gap: 20px;
}
#ullist3 li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p:hover {
  color: red;
  cursor: pointer;
}
.showCustomClass {
  border: 1px solid red;
}
.custom-class {
  border: 1px solid black;
}
.custom-collapse {
  max-height: 400px; /* Set your desired height here */
  overflow-y: auto; /* Add a scrollbar if content overflows */
  /* border: 1px solid red; */
}
a {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  /* ul {
    border: 1px solid red;
    margin: 0px;
  } */
  /* li {
    border: 1px solid red;
  } */
  #ullist3 li {
    /* border: 1px solid black; */
    width: 90px;
    /* height: 10px; */
  }

  #ullist1 {
    /* border: 1px solid red; */
    margin-left: 10%;
    gap: 0px;
  }
  #ullist1 li:hover {
    /* border: 1px solid red; */
    background-color: green;
    margin-left: 10%;
    gap: 0px;
  }

  #ullist3 {
    /* border: 1px solid red; */
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */
    height: 70px;

    gap: 10px;
  }
}

/* serchlist */
.suggested-search {
  position: absolute;
  display: list-item !important;
  z-index: 10;
  list-style-type: none;
  background-color: #fff;
  width: 20%;
  /* top: 60px; */
  top: 80%;
  border: 1px solid #ddd;
}

.suggested-search li {
  /* border: 1px solid #ddd; */
  padding: 5px;
  list-style-type: none;
}
.suggested-search li a {
  cursor: pointer;
  color: black;
}
