<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/h96/h8c/30875255210014/Manyavar-Banner-web-%281840-x-500%29-87549.jpg"
        class="d-block w-100"
        alt="..."
        routerLink="womenproduct"
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/h4d/he4/31150861058078/11_Kay_Beauty_Celeb-23.jpg"
        class="d-block w-100"
        alt="..."
        routerLink="womenproduct"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/h31/h14/31164399550494/5_Titan-Raga_Celeb_23.jpg"
        class="d-block w-100"
        alt="..."
        routerLink="womenproduct"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h1>Look Lit Like Sanya</h1>
<div class="card-group">
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/images/hcd/hc9/30982543278110/AW23KSSE34AF_FUCHSIA.jpg_136Wx204H"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kashish</h5>
      <p class="card-text">
        Sanya Malhotra Embroidered Viscose Blend Women's Kurta Sharara Dupatta
        Set
      </p>
      <p class="card-text">
        <small class="text-body-secondary"
          >₹ 4499 <br />
          Includes all taxes</small
        >
      </p>
    </div>
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/images/h8b/h55/30982550093854/AW23KSSE31AF_PISTA_GREEN.jpg_136Wx204H"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kashish</h5>
      <p class="card-text">
        Sanya Malhotra Embroidered Viscose Blend Women's Kurta Sharara Dupatta
        Set
      </p>
      <p class="card-text">
        <small class="text-body-secondary"
          >₹ 4499 <br />
          Includes all taxes</small
        >
      </p>
    </div>
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/images/h1f/h0d/30982541180958/AW23KSSE25AF_GREEN.jpg_136Wx204H"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kashish</h5>
      <p class="card-text">
        Sanya Malhotra Embroidered Viscose Blend Women's Kurta Sharara Dupatta
        Set
      </p>
      <p class="card-text">
        <small class="text-body-secondary"
          >₹ 4499 <br />
          Includes all taxes</small
        >
      </p>
    </div>
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/images/h05/h6a/30982542557214/AW23KSSE01AF_PLUM.jpg_136Wx204H"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kashish</h5>
      <p class="card-text">
        Sanya Malhotra Embroidered Viscose Blend Women's Kurta Sharara Dupatta
        Set
      </p>
      <p class="card-text">
        <small class="text-body-secondary"
          >₹ 4499 <br />
          Includes all taxes</small
        >
      </p>
    </div>
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/images/hfa/hbe/30982544654366/AW23KSSE24BF_RED.jpg_136Wx204H"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Kashish</h5>
      <p class="card-text">
        Sanya Malhotra Embroidered Viscose Blend Women's Kurta Sharara Dupatta
        Set
      </p>
      <p class="card-text">
        <small class="text-body-secondary"
          >₹ 4499 <br />
          Includes all taxes</small
        >
      </p>
    </div>
  </div>
</div>
<div id="img" routerLink="womenproduct">
  <img
    style="width: 100%"
    src="https://sslimages.shoppersstop.com/sys-master/root/h19/h1a/31146587619358/Private-Brand-web_161023.jpg"
    alt=""
  />
</div>
<h1>Best of Online</h1>
<div class="card-group" id="card-group1">
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h67/hc3/31150860599326/Western-web_171023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h89/hc9/31150860730398/Women-Indian-web_171023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h47/hd0/31150860927006/Men-web_171023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h08/hd1/31150860992542/Kids-web_171023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/hd7/hb8/31149536051230/Bags-web_161023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
</div>
<h1>Best of Festivals Seasons</h1>
<div class="card-group" id="card-group1">
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/hf6/h9e/31146602004510/Women-web_161023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/hb7/h9f/31146602070046/BIBA-%26-W-web_161023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/hd1/h17/31149520846878/Aurelia-%26-Libas-web_161023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/ha6/h40/31149524877342/Kids-web_161023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card" routerLink="womenproduct">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h0b/h1b/31149525434398/GD-web_161023.jpg"
      class="card-img-top"
      alt="..."
    />
  </div>
</div>
