.mainContainer {
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.right {
  /* border: 1px solid red; */
  /* height: 50px; */
  width: 80%;
}
.pricefilter {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* color: grey; */
}
.pricefilter button {
  padding: 0px 10px;
  border-radius: 5px;
  color: rgb(101, 99, 99);
  background-color: white;
  border-color: 0.5px green;
}
.pricefilter button:hover {
  background-color: green;
  color: white;
}
#colors {
  display: flex;
  flex-wrap: wrap;
}
.brand {
  display: flex;
  flex-direction: column;
}
h4 {
  margin-left: 7%;
}
.left {
  width: 25%;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.left > div {
  border-bottom: 1 px solid grey;
  padding: 25px;
}

.brand label {
  /* border: 1px solid red; */
  margin-bottom: 5px;
  display: flex;
  gap: 20px;
}

.Product-color {
  border: 3px solid #ddd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:hover {
  color: white;
}
.card-group {
  /* border: 1px solid red; */
  /* height: 540px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
.card-group > div {
  /* padding: 10px; */
  /* border: 1px solid red; */
  cursor: pointer;
  height: 480px;
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
.card-button {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  gap: 6px;
}
.card-button button:hover {
  background-color: green;
  color: white;
}
.card-img-top {
  height: 300px;
  width: 100%;
}
#img ~ img {
  border: 1px solid red;
  width: 100%;
  height: 20px;
}
#card-group1 > div {
  height: 440px;
}
#card-group1 {
  margin-bottom: 0px;
}
/* Apply styles for screens with a maximum width of 767px (typical for smartphones) */
@media screen and (max-width: 767px) {
  /* Your mobile styles here */
  .card-group {
    /* border: 1px solid red; */
    /* height: 540px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .pricefilter {
    display: flex;
    flex-wrap: wrap;
  }
}
